nav .nav-wrapper {
  max-width: 1000px;
  padding: 0 16px;
  margin: 0 auto;
}

section {
  padding: 48px 0;
}

section#footer {
  padding: 24px 0;
}

h1 {
  font-weight: 300;
}

p {
  font-size: 16px;
}

.stat p {
  text-transform: uppercase;
}
.stats {
  display: flex;
  flex-wrap: wrap;
}
.stat {
  border: 1px solid grey;
  border-left: 1px solid grey;
  width: calc(100% * (1/2));
  padding: 32px;
  text-align: center;
}
.counter {
  font-size: 32px;
}

.blogpost {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.blogpost .image-wrapper {
  flex: 4;
  margin: 0px auto;
}

.blogpost .content {
  flex: 4;
}

.blogpost .footer {
  display: flex;
  flex-direction: column;
}

.blogpost .footer .row {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blogpost .footer .material-icons {
  max-width: 24px;
  margin: 0 8px;
}
.blogpost .footer-content {
  display: flex;
}

.blogpost .read-more {
  display: flex;
  justify-content: center;
}


#hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#hero .container {
  height: 90vh;
}

#features .material-icons {
  font-size: 50px;
}


.flex-dir-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.jc-center {
  justify-content: center;
}
.jc-space-between {
  justify-content: space-between;
}

.m-r-16 {
  margin-right: 16px;
}


.btn {
    text-transform: none;
}

.nav-logo {
  height: 95%;
  width: 228px;
  padding: 5px;
}

.brand-logo {
  height: 100px;
  width: 350px;
  padding: 5px;
}

.faces img {
    border-radius: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.dropdown-content {
  top: 0
}

.dropdown-content li>a {
  color: white;
}
